<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


<h1>Instant Loan</h1>

<p>If the loan value is less than 3 times<br>the salary, the application is approved</p>
<br>
<table>
   {% for check in checkloan %}
        <tr>
            <td>loan value:    {{ check['loan'] }}</td>
        </tr>
        <tr>
            <td>Salary value:  {{ check['salary'] }}</td>
        </tr>
        <tr>
            <td><br><br>{{ check['qualify'] }}    {{ check['check'] }}</td>
        </tr>
    {%  endfor %}
</table>
</body>
</html>