<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Instant Loan</h1>

<p>If the loan value is less than 3 times<br>the salary, the application is approved</p>
<br>
<table>
    <form action="/calc" method="post">
        <tr>
            <td><label for="loan">loan value </label></td>
            <td><input type="number" name="loan" id="loan"></td>
        </tr>
        <tr>
            <td><label for="salary">Salary value </label></td>
            <td><input type="number" name="salary" id="salary"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Calculate">
            </td>
        </tr>
    </form>
</table>


</body>
</html>